* {
    background-color: #444;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 10%;
    border-radius: 5%;
    background-color: #666;
    width: 210px;
    height: 300px;
    overflow: hidden;
    flex-direction: column;
}

.backgroundFromCard {
    width: 210px;
    height: 37%;
    filter: grayscale(.6) brightness(.4)
}

.miniature {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 52.5%;
    top: 32%;
    object-fit: cover; 
    border: solid 2px #000;
    overflow: scroll;
}

.nameOfProfile {
    background-color: #666;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-left: 35px;
}

.text {
    background-color: #666;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}


ul {
    display: grid;
    grid-template: repeat(3, 25px)/repeat(4, 1fr);
    margin-left: -20px;
}

.blizzardIcon, .steamIcon, .discordIcon {
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.steamIcon {
    grid-area: 2/2/3/3;
    padding-right: 25px;
}

.discordIcon {
    grid-area: 3/3/4/4;
    margin-left: -30px;
}

ul, li, img{
    list-style: none;
    background-color: #666;
}

li {
    letter-spacing: 1px;
}

li:nth-child(2) {
    margin-left: 5px;
    font-size: 12px;
    grid-area: 1/2/2/4;
}

li:nth-child(4) {
    display: inline-block;
    grid-area: 2/3/3/4;
    font-size: 12px;
    position: relative;
    right: 20px;
}

.linkSteam {
    background-color: #666;
    text-decoration: none;
    color: #000;
}

.linkSteam:hover {
    color: #bbb;
}

li:nth-child(6) {
    grid-area: 3/4/4/5;
    font-size: 12px;
    position: relative;
    right: 40px;
}